/*=========== 00. RESET CSS ================ */	
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:before, :after  {
    box-sizing: border-box;
}
a, span, :before, :after { 
    display: inline-block; 
}
:focus {
    outline: none;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
img {
    max-width: 100%;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.285;
    color: #555;
    font-weight: 400;
    /* min-height: 2000px; */
    overflow-x: hidden;
    background-image: url("../images/bg-img.png");
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
/*=========== 00. General ================ */	
.row{
    font-size: 0;
    margin-left: -15px;
    margin-right: -15px;
}
.row > [class*="hm-col-"],
.row[class*="hm-col-"] .item{
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}
.hm-col-12{
    width:100%;
}
.hm-col-9{
    width:75%;
}
.hm-col-3{
    width:25%;
}
.hm-col-6{
    width:50%;
}
.va-t{
    vertical-align: top;
}
.va-m{
    vertical-align: middle;
}
.va-b{
    vertical-align: bottom;
}
.dp-inb{
    display: inline-block;
}
.dp-b{
    display:block;
}
.clear::after{
    content: " ";
    display:block;
    clear: both;
}


/* ===================01. Header============= */
.width-device-width{
    box-shadow: 1px 1px 15px 0 rgba(0,0,0,0.2);
    margin-bottom: 30px;
}
.top-header{
    background-color: #fff;
    padding: 4px 0;
}
.top-header .icon, .top-header p{
    display: inline-block;
    color: #4e4e4e;
}
.top-header span{
    color: #ed1111;
}
.top-header .span2{
    margin: 0 20px;
    color: #4e4e4e;
}
.top-header .left{
    float: left;
    padding-top: 5px;
}
.top-header .right{
    float: right;
}
.top-header .right .icon-social{
    display: inline-block;
}
.logo-support .logo{
    width: 123px;
    margin-right: 20px;
}
.online-support{
    margin-left: 8.3%;
    padding-top: 7px;
}
.online-support h1{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.online-support > .supporter+.supporter{
    border-left: 1px dashed #b4b4b4;
    padding-left: 15px;
}
.supporter{
    margin-top: 10px;
}
.supporter > p{
    font-size: 14px;
    font-weight: 500;
}

.supporter-contact p{
    font-size: 18px;
    font-weight: 500;
    color: #ed1111;
    margin-right: 10px;
}
.supporter-contact .icon-skype{
    margin-right: 10px
}





/* ===================02. Menu============= */
#menu{
    margin-top: 28px;
}
.menu-y .main-menu{
    background-color: #ff6600;
}
.menu-y .main-menu a{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 11px 0 11px 46px;
}
.menu-y li+li a{
    padding: 11px 0 11px 16px;
    color: #333;
    width: 100%;
}
.menu-y ul > li a .icon{
    color: #c2c2c2;
    float: right;
    margin-right: 20px;
}
.menu-y ul > li a:hover{
    background-color: #ff6600;
    color: #fff;
}
.menu-y ul li{
    position: relative;
}
.menu-y ul li ul{
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(110%, 0%);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.menu-y ul li ul li a {
    color: #fff;
    background-color: #ff6600;
    width: 200px;
}
.menu-y li ul li a:hover{
    color: #333
}
.menu-y li:hover > ul{
    opacity: 1;
    pointer-events: auto;
    transform: translate(100%, 0%);
}
