/*=========== 00. RESET CSS ================ */	
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:before, :after  {
    box-sizing: border-box;
}
a, span, :before, :after { 
    display: inline-block; 
}
:focus {
    outline: none;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
img {
    max-width: 100%;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.285;
    color: #555;
    font-weight: 400;
    /* min-height: 2000px; */
    overflow-x: hidden;
    background-image: url("../images/bg-img.png");
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
/*=========== 00. General ================ */	
.row{
    font-size: 0;
    margin-left: -15px;
    margin-right: -15px;
}
.row [class*="hm-col-"],
.row[class*="hm-column-"] .item{
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}
.hm-col-12{
    width:100%;
}
.hm-col-9{
    width:75%;
}
.hm-col-3{
    width:25%;
}
.hm-col-6{
    width:50%;
}
.hm-column-2 .item{
    width: 16.666666%;
}
.hm-column-3 .item{
    width: 33.3333333%;
}
.hm-column-4 .item{
    width: 25%;
}
.hm-column-5 .item{
    width: 20%;
}
.hm-column-5 .item:not(:nth-child(-n + 5)) {
    margin-top: 30px;
}

.va-t{
    vertical-align: top;
}
.va-m{
    vertical-align: middle;
}
.va-b{
    vertical-align: bottom;
}
.dp-inb{
    display: inline-block !important;
}
.dp-b{
    display:block !important;
}
.clear::after{
    content: " ";
    display:block;
    clear: both;
}
.pl-0{
    padding-left: 0 !important; 
}
.pr-0{
    padding-right: 0 !important;
}
/* ===================01. Header============= */
.width-device-width{
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    margin-bottom: 30px;
}
.top-header{
    background-color: #fff;
    padding: 4px 0;
}
.top-header .icon, .top-header p{
    display: inline-block;
    color: #4e4e4e;
}
.top-header span{
    color: #ed1111;
}
.top-header .span2{
    margin: 0 20px;
    color: #4e4e4e;
}
.top-header .left{
    float: left;
    padding-top: 5px;
}
.top-header .right{
    float: right;
}
.top-header .right .icon-social{
    display: inline-block;
}
.logo-support .logo{
    width: 123px;
    margin-right: 20px;
}
.online-support{
    margin-left: 8.3%;
    padding-top: 7px;
}
.online-support h1{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.online-support > .supporter+.supporter{
    border-left: 1px dashed #b4b4b4;
    padding-left: 15px;
}
.supporter{
    margin-top: 10px;
}
.supporter > p{
    font-size: 14px;
    font-weight: 500;
}

.supporter-contact p{
    font-size: 18px;
    font-weight: 500;
    color: #ed1111;
    margin-right: 10px;
}
.supporter-contact .icon-skype{
    margin-right: 10px
}





/* ===================02. Menu============= */
#menu{
    margin-top: 28px;
}
.width-device-width-menu{
    background-color: #014eff;
}
.width-device-width-menu .title-menu{
    position: relative;
}
.width-device-width-menu .hm-col-3{
    position: relative;
    padding-right: 0;
}
.width-device-width-menu .hm-col-3::before{
    content: " ";
    width: 16px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 21px;
    left: 33px;
    z-index: 9999;
}
.width-device-width-menu .title-menu::before{
    content: " ";
    width: 16px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 16px;
    left: 18px;
}
.width-device-width-menu .title-menu::after{
    content: " ";
    width: 16px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 26px;
    left: 18px;
}

.title-menu{
    background-color: #ff6600;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 11px 0 11px 46px;
}
.width-device-width-menu .hm-col-9{
    padding-left: 0;
}
.menu-x li{
    display: inline-block;
}
.menu-x li{
    border-right: 1px solid #2668fe;
}
.menu-x li+li{
    border-left: 1px solid #0149f0;
}
.menu-x li:last-child{
    border-right: none;
    border-left: none;
    padding-left: 25px;
}
.menu-x li a{
    text-transform: uppercase;
    color:#fff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 5px;
}
.menu-x li:hover > a,
.menu-x .active{
    background-color: #013ecc;
}

.menu-y{
    border-bottom: 1px solid #eee;
    border-left: 1px solid #d9d9d9;
}
.menu-y li a{
    padding: 14px 0 15px 16px;
    color: #333;
    width: 100%;
    background-color: #fff;
}
.menu-y li+li a{
    border-top: 1px dashed #b4b4b4;
}
.menu-y ul > li a .icon{
    color: #c2c2c2;
    float: right;
    margin-right: 20px;
}
.menu-y ul > li a:hover{
    background-color: #ff6600;
    color: #fff;
}
.menu-y ul li{
    position: relative;
}
.menu-y ul li ul{
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(110%, 0%);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.menu-y ul li ul li a {
    color: #fff;
    background-color: #ff6600;
    width: 200px;
}
.menu-y li ul li a:hover{
    color: #333
}
.menu-y li:hover > ul{
    opacity: 1;
    pointer-events: auto;
    transform: translate(100%, 0%);
}
/* ================03. Body============== */
.introduce {
    margin-top: 30px;
}
.introduce .item{
    background-color: #f4f5f6;
}
.introduce h1{
    font-size: 18px;
    color: #014eff;
}
.wrapper-product,
.wrapper-services,
.wrapper-project{
    margin-top: 50px;
}
.wrapper-product .title-product,
.wrapper-services .title-services,
.wrapper-project .title-project{
    position: relative;
}
.wrapper-product .title-product h1,
.wrapper-services .title-services h1,
.wrapper-project .title-project h1{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    background-image: url(../images/bg-product-header.png);
    background-repeat: no-repeat;
    text-transform: uppercase;
    padding: 6px 13px;
    border-bottom: 2px solid #e3e3e3;
}
.wrapper-product .title-product .view-more,
.wrapper-project .title-project .view-more{
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    font-style: italic;
}
.wrapper-product .title-product .view-more a,
.wrapper-project .title-project .view-more a{
    color: #999;
}
.list-product,
.list-services{
    margin-top: 32px;
}
.product,
.services{
    border: 1px solid #eaeaea;
    padding: 5px;
}
.product h3 a{
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 20px 20px 0 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
    transition: all .3s 
}
.product h3 a:hover,
.services h3 a:hover,
.project h3 a:hover{
    color: #014eff;
}
.social-view-comment{
    font-size: 12px;
    font-style: italic;
    text-align: center;
    color: #c2c2c2;
}
.social-view-comment i,
.social-view-comment p{
    margin: 13px 3px;
}
.img{
    position: relative;
    display:block;
}
.img::before{
    content: " ";
    display:block;
    padding-top: 66.666666%;
}
.img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container.ads{
    margin-top: 50px;
    margin-bottom: 50px;
}
.services h3 a,
.project h3 a{
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 20px 0;
    transition: all .3s 
}
.list-project{
    margin-top: 30px;
}
.project.mini{
    font-size: 0px;
    border-bottom: 1px dashed #c2c2c2;
}
.project.mini+.project.mini{
    padding-top: 30px;
}
.list-project .img.mini{
    width: 27%
}
.list-project .caption{
    width: 73%
}
.list-project .caption h3 a{
    margin:0;
}
.list-project .caption p{
    font-size: 14px;
}
.container.brand{
    margin-top: 100px;
}

.img.brand{
    position: relative;
    display:block;
    border: 3px solid #edecec;
}
.img.brand::before{
    content: " ";
    display:block;
    padding-top: 58%;
}
.img.brand img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}